/* pre {
    counter-reset: line;

    font-family: monospace;
    background: #303030;
    color: #f1f1f1;
    border-radius: .25em;
    border-top: 4px solid #00aeef;
    line-height: 0;

    width: em(440);
    margin: 4em auto;
    padding: 1em;
    box-shadow: .1em .1em .5em rgba(0,0,0,.45);
}

pre span {
    display: block;
    line-height: 1.5rem;
}

pre span:before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    border-right: 1px solid #ddd;
    padding: 0 .5em;
    margin-right: .5em;
    color: #888
} */
